<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta arroz con leche</title>
</head>
<body>
    <h1>Receta de arroz con leche</h1>
    <h3>Descripción</h3>
    <hr style="border: 1px solid black; width: 100%;">
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>Arroz</li>
        <li>Leche</li>
        <li>Azúcar</li>
        <li>Canela</li>
    </ul>
    <h2>Pasos a seguir</h2>
    <ol type="1">
        <li>Remojar el arroz en la leche unas dos horas</li>
        <li>Llevar a fuego lento revolviendo hasta que se cocine</li>
        <li>Incorporar el azúcar y canela hasta que el azúcar se disuelva</li>
        <li>Servir en una fuente y cuando este frio llevar a la mesa</li>
        <li>A comer</li>
    </ol>
    <a href="https://www.paulinacocina.net/arroz-con-leche-facil-delicioso/13790" target="_blank">
        Leer esta receta en Paulina cocina
    </a>
    <br>
    <a href="instructivo2.html" target="_blank">
        Receta pancakes saludables
    </a>
    <br>
    <a href="../../index.html">
        Volver al inicio
    </a>
</body>
</html>