<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta pancakes</title>
</head>
<body>
    <h1>Receta pancakes saludables</h1>
    <h3>Descripción</h3>
    <hr style="border: 1px solid black; width: 100%;">
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>Banana madura</li>
        <li>Huevos</li>
        <li>Harina de avena</li>
        <li>Leche</li>
    </ul>
    <h2>Pasos a seguir</h2>
    <ol type="1">
        <li>Pela la banana ponela en un bol y aplástalo con un tenedor hasta hacerlo puré</li>
        <li>Añadi los huevos, leche y mezclar bien con el pure de banana</li>
        <li>En un bol aparte mezcla la harina con la levadura hasta lograr una mezcla homogénea</li>
        <li>Juntar ambas mezclas e integra todo bien, puedes hacerlo a mano o con una batidora</li>
        <li>Calenta el sartén, sin poner aceite</li>
        <li>Sirve tus pancakes y acompañalo con lo que más te guste</li>
    </ol>
    <a href="https://www.paulinacocina.net/receta-pancakes-esponjosos/28676" target="_blank">
        Leer esta receta en Paulina cocina
    </a>
    <br>
    <a href="instructivo1.html" target="_blank">
        Receta arroz con leche
    </a>
    <br>
    <a href="../../index.html">
        Volver al inicio 
    </a>
</body>
</html>